body{
    background-color: rgb(210, 202, 170);
    box-sizing: border-box;
}

.card{
    background-color: rgb(194, 176, 124);
    margin: 16px auto;
    height: auto;
    width: 800px;
}

.hborder {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: antiquewhite;
    border: 6px solid rgb(99, 81, 27);
    font-family: 'Times New Roman', Times, serif;
}

.links {
    background-color: antiquewhite;
    padding: 50px;
    margin: 50px;
    border: 6px solid rgb(99, 81, 27);
}

.single-link{
    border: 2px solid rgb(99, 81, 27);
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.picture {
    text-align: center;
}