body{
    background-color: rgb(233, 203, 81);
}

h1,
h2{
    background-color: rgb(12, 173, 12);
}

h1 {
    text-align: center;
}

button {
    background-color: orange;
}
.indexbutton{
    width: 400px;
    height: 200px;
    background-color: orange;
    font-size: 20px;
}

.desc{
    font-weight: bold;
}